        <h1>All Contacts</h1>

        <ul>
              <!-- We can use Ruby to iterate over each item in our "erb" template. -->
          <!-- Update the views/contacts.erb view to use the rolodex-->
          <% $rolodex.contacts.each do |contact| %>
              <li><%= contact.first_name %> <%= contact.last_name %></li>

          <% end %>

          <li> <a href="/">Click here to go back to the main page</a></li>
        </ul>


