<h2>Edit Contact</h2>

<form role="form" action="/contacts_edit" method="post">
  <div class="form-group">
    <label>First name</label>
    <input class="form-control" type="text" name="first_name" value="<%= $rolodex.selected_contact.first_name %>">
  </div>
  <div class="form-group">
    <label>Last name</label>
    <input class="form-control" type="text" name="last_name" value="<%= $rolodex.selected_contact.last_name %>">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" type="text" name="email" value="<%= $rolodex.selected_contact.email %>">
  </div>
  <div class="form-group">
    <label>Note</label>
    <input class="form-control" type="text" name="note" value="<%= $rolodex.selected_contact.note %>">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>