<!-- Older header -->
<!-- <h1>Welcome to this CRM!</h1> -->
<!-- this takes the @crm_app_name variable and inserts it into the HTML.  @crm_app_name is equal to "My CRM" -->
<h1>Welcome to <%= @crm_app_name %></h1>
<p>Main menu</p>
<p>The Current time is <</p>

<ul>
  <li><a href="/contacts">View all contacts</a></li>


  <!-- please complete me with links to other actions -->
</ul>