<title>Yung's CRM App &copy;</title>
<a href="http://www.bitmakerlabs.com"><img src="/logo-bitmaker-fb.png" alt="image not found"></a>
    <h1>Welcome to <%= @crm_app_name %> &copy;</h1>
        <div class="line-separator"></div>
        <br/>
    <h3>The current date and time is:  <%= Time.now %></h3>
    <h2>Main menu</h2>
    <div class="line-separator"></div>
    <ul>
      <br/>
      <a href="/contacts/new">Add a new contact</a>
      <br/>
      <br/>
      <a href="/contacts">View all contacts</a>
        <!-- please complete me with links to other actions -->
    </ul>
