<!-- Older header -->
<!-- <h1>Welcome to this CRM!</h1> -->
<!-- this takes the @crm_app_name variable and inserts it into the HTML.  @crm_app_name is equal to "My CRM" -->
<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
    <h1>Welcome to <%= @crm_app_name %></h1>
    <p>Main menu</p>

    <ul>
      <li> <a href="/contacts/new">Add a new contact</a></li>
      <li><a href="/contacts">View all contacts</a></li>



      <!-- please complete me with links to other actions -->
    </ul>
</body>