<!DOCTYPE html>
<html>
    <head lang="en">
      <link type="text/css" rel="stylesheet" href="stylesheet.css">
      <meta charset="UTF-8">
      <title><%= @title %></title>
    </head>
    <body>
        <%= yield %>
    </body>
</html>