<h1>Create new Contact</h1>

<form action="/contacts" method="post">
  <h2>First Name: <input type="text" name="first_name"></h2>
  <h2>Last Name: <input type="text" name="last_name"></h2>
  <h2>Email Address: <input type="text" name="email"></h2>
  <h2>Note: <input type="text" name="note"></h2>
  <input type="submit" name="Submit">
</form>

<li> <a href="/">Click here to go back to the main page</a></li>
