<a href="http://www.bitmakerlabs.com"><img src="/logo-bitmaker-fb.png" alt="image not found"></a>
<h1>Create new Contact</h1>
<div class="line-separator"></div>
<form id="new_contacts" action="/contacts" method="post">
  <h3>First Name:</h3>
  <h3><input type="text" name="first_name" ></h3>
  <h3>Last Name: </h3>
  <h3><input type="text" name="last_name"></h3>
  <h3>Email Address: </h3>
  <h3><input type="text" name="email"></h3>
  <h3>Note: </h3>
  <h3><input type="text" name="note"></h3>
  <br/>
  <input type="submit" name="Submit">
</form>
<br/>
<br/>
<a href="/">Click here to go back to the main page</a>