<!DOCTYPE html>
<html>
<head lang="en">
  <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
  <meta charset="UTF-8">
  <title>Manage Contacts</title>
</head>
<body>
    <h1>Create new Contact</h1>

    <form action="/contacts" method="post">
      <input type="text" name="first_name">
      <input type="text" name="last_name">
      <input type="text" name="email">
      <input type="text" name="note">
      <input type="submit" name="Submit">
    </form>

    <li> <a href="/">Click here to go back to the main page</a></li>
</body>